{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Matheus Magalhães and Francisco Gabriel">

    <title>

        {% block title %}
        Cachaçaria Dom Wilmar
        {% endblock %}

    </title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/estilo.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    
</head>

<style>
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 25px;
    }

    .image-container img {
        max-width: 40%;
        height: auto;
    }

    .image-container img:nth-child(1) {
        width: 35%;
    }

    .image-container img:nth-child(3) {
        width: 35%;
    }
</style>


<body class="d-flex flex-column h-100">

    {% block menu %}
    <header>
    <!-- Navbar fixa -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #430202;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'inicio' %}">Cachaçaria Dom Wilmar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'inicio' %}"><i class="fa fa-home" aria-hidden="true"></i></i></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sobre' %}"><i class="fa fa-flag" aria-hidden="true"></i> Sobre</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="fa fa-list" aria-hidden="true"></i>
                                Listagem
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'listar-cachaca' %}">Cachaça</a>
                                <li><a class="dropdown-item" href="{% url 'listar-tipo' %}">Tipos de bebidas</a>
                                <li><a class="dropdown-item" href="{% url 'listar-cidade' %}">Cidade Origem</a>
                                <li><a class="dropdown-item" href="{% url 'listar-uf' %}">Estado Origem</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Cadastros
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'cadastrar-cachaca' %}">Cachaça</a>
                                <li><a class="dropdown-item" href="{% url 'cadastrar-tipo' %}">Tipos de bebidas</a>
                                <li><a class="dropdown-item" href="{% url 'cadastrar-cidade' %}">Cidade Origem</a>
                                <li><a class="dropdown-item" href="{% url 'cadastrar-uf' %}">Estado Origem</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                           
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <span id="username"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Meus dados</a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    Alterar senha</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Sair</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% endblock %}

    <!-- Conteúdo da página -->

    <main class="flex-shrink-0">
        <div class="container">
            {% block conteudo %}

            <h1 class="mt-5"><marquee>Projeto Cachaçaria Dom Wilmar Santin</marquee></h1>

            <div class="image-container">
                <img src="{% static 'img/cachaca1.jpeg' %}" alt="Cachaça Sabor de Minas">
                <img src="{% static 'img/cachaca2.jpeg' %}" alt="Cachaça Canarinha">
                <img src="{% static 'img/cachaca3.jpeg' %}" alt="Cachaça Havaninha">
            </div>

            {% endblock %}
        </div>
    </main>

    <!-- Conteúdo do Rodapé -->

    <footer class="footer mt-auto py-2 bg-light">
        <div class="container">
            {% block rodape %}

            <span class="text-muted">
                Desenvolvido por <b>Curia Online do Brasil</b>
            </span>

            {% endblock %}
        </div>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
</body>
</html>