{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Matheus Magalhães and Francisco Gabriel">

    <title>

        {% block title %}
        Cachaçaria Dom Wilmar
        {% endblock %}

    </title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

    {% block menu %}
    <header>
    <!-- Navbar fixa -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #430202;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'inicio' %}">Cachaçaria Dom Wilmar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'sobre' %}"><i
                                    class="bi bi-house"></i>Sobre</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Listagem
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Marca</a></li>
                                <li><a class="dropdown-item" href="#">Cachaça</a>
                                    <li><a class="dropdown-item" href="#">Cidade</a>
                                    <li><a class="dropdown-item" href="#">Estado</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Cadastros
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Marca</a></li>
                                <li><a class="dropdown-item" href="#">Cachaça</a>
                                <li><a class="dropdown-item" href="#">Cidade</a>
                                <li><a class="dropdown-item" href="#">Estado</a>

                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                           
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% endblock %}

<!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">

            {% block conteudo %}

            <h1 class="mt-5">Título da Página</h1>

            <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and
                CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code
                    class="small">main &gt; .container</code>.</p>

            <p>Back to <a href="/docs/5.3/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>

            {% endblock %}
        </div>
    </main>

    <!-- Conteúdo do Rodapé -->
    {% block rodape %}
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">
                Desenvolvido por <b>Curia Online</b>
            </span>
        </div>
    </footer>
    {% endblock %}


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
</body>
</html>