{% extends "paginas/modelo.html" %}

{% load static %}

{% block conteudo %}

<style>
        p {
        font-size: 18px;
        }
</style>

<h1 class="mt-4">Sobre o Sistema de Gestão de Cachaças</h1>

<p class="mt-3">Bem-vindo ao Sistema de Coleção de Cachaças! Este projeto foi desenvolvido para entusiastas da cachaça que desejam organizar, explorar e compartilhar suas coleções de forma eficiente e prática.</p>

<h3>Funcionalidades Principais</h3>

<p class="mt-3"><b>Cadastro de Cachaças:</b> Registre detalhes importantes sobre cada cachaça, como nome, marca, ano de fabricação, origem, teor alcoólico.</p>
<p class="mt-3"><b>Galeria Visual:</b> Faça upload de imagens das suas garrafas para uma experiência visual atraente e fácil identificação.</p>

<h3>Todas as funcionalidades presentes no projeto estão sobre a barra de navegação superior.</h3>

{% endblock %}